@model WebTuyenSinh.ViewModels.PersonalVM
@{
    ViewData["Title"] = "Thông tin cá nhân";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/personal.css" />

<h3>Thông tin cá nhân thí sinh</h3>

<form asp-action="NhapThongTin" method="post" enctype="multipart/form-data" id="personalForm">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">
        <div class="col-md-3 text-center">
            <label>Ảnh thẻ 3x4</label>
            <div class="img-container">
                <img src="@(
                    ViewData["AnhCaNhan"] != null
                        ? ViewData["AnhCaNhan"]
                        : "https://i.pinimg.com/736x/bc/43/98/bc439871417621836a0eeea768d60944.jpg"
                )" class="img-avatar img-preview" alt="Ảnh cá nhân" />
            </div>
            <label class="upload-btn mt-2">
                <i class="bi bi-cloud-upload"></i> Tải lên
                <input asp-for="FileAnhCaNhan" type="file" hidden />
            </label>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Họ và tên</label>
                    <input asp-for="HoTen" class="form-control" readonly />
                </div>
                <div class="col-md-6 mb-3">
                    <label>Giới tính</label>
                    <input asp-for="GioiTinh" class="form-control" readonly />
                </div>
                <div class="col-md-6 mb-3">
                    <label>Ngày/tháng/năm sinh</label>
                    <input asp-for="NgaySinh" class="form-control" type="date" readonly />
                </div>
                <div class="col-md-6 mb-3">
                    <label>Số CCCD</label>
                    <input asp-for="CCCD" class="form-control" readonly />
                </div>
                <div class="col-md-6 mb-3">
                    <label>Nơi cấp</label>
                    <select asp-for="NoiCap" class="form-select">
                        <option value="">-- Chọn nơi cấp --</option>
                        <option>Cục Cảnh sát đăng ký quản lý cư trú và dữ liệu Quốc gia về dân cư.</option>
                        <option>Cục Cảnh sát quản lý hành chính về trật tự xã hội.</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Ngày cấp</label>
                    <input asp-for="NgayCap" class="form-control" type="date" />
                </div>
                <div class="col-md-6 mb-3">
                    <label>Ngày hết hạn</label>
                    <input asp-for="NgayHetHan" class="form-control" type="date" />
                </div>
                <div class="col-md-6 mb-3">
                    <label>Tôn giáo</label>
                    <input asp-for="TonGiao" class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label>Dân tộc</label>
                    <select asp-for="DanToc" class="form-select">
                        <option value="">-- Chọn dân tộc --</option>
                        @{
                            var list = new[] { "Kinh", "Tày", "Thái", "Mường", "Khmer", "Hoa", "Nùng", "Hmong" };
                            foreach (var dt in list)
                            {
                                <option value="@dt" selected="@(Model.DanToc == dt ? "selected" : null)">@dt</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Số điện thoại</label>
                    <input asp-for="SoDienThoai" class="form-control" readonly />
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 text-center">
            <label>Ảnh CCCD mặt trước</label><br />
            <img src="@ViewData["AnhCCCDMatTruoc"]"
                 class="img-cccd img-preview img-cccd-truoc"
                 style="display:@(ViewData["AnhCCCDMatTruoc"] == null ? "none" : "inline-block")" />
            <input asp-for="FileAnhCCCDMatTruoc" type="file" class="form-control mt-2 w-75 mx-auto" />
        </div>
        <div class="col-md-6 text-center">
            <label>Ảnh CCCD mặt sau</label><br />
            <img src="@ViewData["AnhCCCDMatSau"]"
                 class="img-cccd img-preview img-cccd-sau"
                 style="display:@(ViewData["AnhCCCDMatSau"] == null ? "none" : "inline-block")" />
            <input asp-for="FileAnhCCCDMatSau" type="file" class="form-control mt-2 w-75 mx-auto" />
        </div>
    </div>


    <div class="text-end mt-4">
        <button type="submit" class="btn btn-primary">Lưu thông tin</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/personal.js"></script>
}
